@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Passion+One:400,700,900);
body{
    font:bold 13px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 75rem;
}
.login{
    color: rgb(24, 141, 12);
    cursor:pointer;
    padding-top:20px;
}
.nav-link{
    padding: 20px;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.footer-basic-centered{
	background-color: #034206;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: center;
	font:18px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 50px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-name{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	color:  #ddd;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}
.footer-basic-centered .footer-links a:hover{
	font:bold 18px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* If you don't want the footer to be responsive, remove these media queries */