
@{
    ViewBag.Title = "Directeur";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <img class="col-4" src="~/Content/img/directeur.jpg" />
    <div class="col-8">
        <h2>Mot de directeur</h2>
        <p>
            L’Institut Supérieur de Comptabilité et d’Administration des Entreprises (ISCAE) est un établissement public à caractère administratif d’enseignement supérieur et de recherche crée  par le décret N° 2009-161  du 26 avril 2009, modifié par le décret 2011-058 du 14 février 2011 et placé sous la tutelle du Ministère de l’Enseignement Supérieur et de la Recherche Scientifique.
            <br />
            <br />

            Il a pour mission de développer et d’offrir des formations initiales et continues, de recherche, de vulgarisation, de prestation de services et de promotion de l’entreprenariat dans les domaines de la comptabilité, du contrôle, des techniques modernes de gestion et de l’informatique,...
            <br /><br />
            Avec  plus de mille étudiants inscrits au titre de l’année universitaire 2015-2016, encadrés par une centaine d’enseignants et professionnels de haut niveau, l’ISCAE  est aujourd’hui le troisième établissement d’enseignement supérieur au niveau national en termes d’effectif étudiants.
            <br />
            <br />

            Notre ambition est de faire de l’ISCAE un pôle d’excellence et un  modèle de réussite avec des formations de qualité et en parfaite adéquation avec les exigences  du marché national de travail.

            <br />
            <br />
            L'ISCAE  se veut une institution pluridisciplinaire avec des spécialités diversifiées.  Il offre à ses étudiants  un enseignement et un encadrement basés sur l'excellence et la réussite, avec le souci permanent de l'intégration future des étudiants en milieu de travail.
            <br />
            <br />

            S'inscrivant dans une stratégie d’amélioration de l’employabilité des jeunes diplômés, la formation à l’ISCAE vise à  apporter sa contribution aux efforts, déjà menés par les autorités publiques, dans le cadre de la lutte contre le chômage des jeunes.

            <br />
            <br />
            Des démarches ont été entreprises en vue d’ancrer l’ISCAE dans sa vocation d’établissement d’enseignement professionnel et d’améliorer sa visibilité.  Dans cette perspective,  nous envisageons de  s’ouvrir davantage sur le monde professionnel et de favoriser le partenariat avec les établissements  similaires d’enseignement supérieur dans les pays de la sous région.

            <br />
            <br />

            Je suis convaincu que les fondations de notre Institut sont solides, car elles reposent sur l'excellence de ses enseignants, de ses étudiants, et de son personnel administratif et de services. J’exhorte  toutes ces parties prenantes de se concerter et de conjuguer les efforts, pour bâtir ensemble une formation de qualité et classer l’ISCAE dans le rang des Grandes Ecoles.

            <br />
            <br />
            Dr El Moustapha SIDI MOHAMED
            <br />
            Directeur de l'ISCAE
        </p>
    </div>
</div>


