
@{
    ViewBag.Title = "Directeur";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <!-- Main content -->
    <section class="content"></section>
    <!-- /.content -->
</div>
<!-- /.container -->