@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Accueil";
}


<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(@Url.Content("~/Content/img/iscae_1.jpg") );">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Institut Supérieur  de Comptabilité et d'Administration des Entreprises</h1>
                                
                                <p><a class="btn btn-success btn-lg" href="#">A propos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(@Url.Content("~/Content/img/iscae_2.jpg") );">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>المعهد العالي للمحاسبة وادارة المؤسسات</h1>
                                <p><a class="btn btn-success btn-lg btn-learn" href="#">حول المعهد</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(@Url.Content("~/Content/img/iscae_3.jpg") );">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Si vous ete un nouveau etudiant vous pouvez activer votre compte en cliquant ici</h1>
                                <p><a class="btn btn-success btn-lg btn-learn" href="#">Activer votre compte</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>