@model List<ISCAE.Data.Professeur>
@{
    ViewBag.Title = "Professeurs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(@Url.Content("~/Content/home/images/prof.jpeg"));">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Nos professeurs</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-staff">
    <div class="container">
        <div class="row">
            @{
                foreach (ISCAE.Data.Professeur professeur in Model)
                {
                    <div class="col-md-3 text-center">
                        <div class="staff">
                            <div class="staff-img" style="background-image: url(@Url.Content(professeur.ProfilePath));">

                            </div>
                            <h3><a href="#">@professeur.Nom</a></h3>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>